{% if grupo_lista %}
<div>
    {% for grupo in grupo_lista %}
    <section>
        <header>
            <h1>{{ grupo.nombre }}</h1>
            <form action="{% url 'registro' grupo.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="tarea" autofocus="" />
            </form>
        </header>
        <section>
            <ul>
                {% for queHacer in grupo.quehacer_set.all %}
                <li>
                    <form action="{% url 'realizado' queHacer.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="checkbox" {% if queHacer.realizado %} checked {% endif %} onchange="this.form.submit()" />
                    </form>
                    {{ queHacer.tarea }}
                    <form action="{% url 'eliminar' queHacer.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="x" {% if queHacer.realizado %} checked {% endif %} />
                    </form>
                </li>
                {% endfor %}
            </ul>
        </section>
        <footer>
            Tenemos {{ grupo.quehacer_set.count }} cosas por hacer en total y {{ grupo.completados }} están completadas.
        </footer>
    </section>
    {% endfor %}
</div>
{% else %}
<p>No hay grupo de lista que Haceres</p>
{% endif %}